   <!DOCTYPE html>
    <html>
      <head>
        <title>Hello Kubernetes!</title>
        <!-- Static assets; unchanged at runtime -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300">
      </head>
      <body>
        <div class="main">
          <img src="/images/kubernetes.png"/>   <!-- Static image -->
          <div class="content">
            <div id="message">
              Hello from __APP_NAME__.          <!-- Replaced at pod startup (e.g. app1/app2/app3) -->
            </div>
            <div id="info">
              __APP_MESSAGE__
            </div>
          </div>
        </div>

        <div id="info">
          <table>
            <tr>
              <th>pod:</th>
              <td>__POD_NAME__</td>              <!-- Injected via Downward API at runtime -->
            </tr>
            <tr>
              <th>node:</th>
              <td>__KERNEL_VERSION__</td>             <!-- Injected via Shell command at runtime -->
            </tr>
          </table>
        </div>
      </body>
    </html>