apiVersion: v1
kind: ConfigMap
metadata:
  name: app1-config
data:
  index.html:
    <!DOCTYPE html>
    <html>
      <head>
        <title>Hello Kubernetes!</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300">
      </head>
      <body>
        <div class="main">
          <img src="/images/kubernetes.png"/>
          <div class="content">
            <div id="message">
              Hello from app1.
            </div>
          </div>
        </div>
        <div id="info">
          <table>
            <tr>
              <th>pod:</th>
              <td>app-one-6bc974bc98-qtjj7</td>
            </tr>
            <tr>
              <th>node:</th>
              <td>Linux (4.18.0-240.1.1.el8_3.x86_64)</td>
            </tr>
          </table>
        </div>
      </body>
    </html>
